body {
  background-color: wheat;
}
.li {
  border: 0.5px solid wheat;
  width: 30%;
  height: 40px;
  border-radius: 5px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: rgb(190, 150, 97);
  font-size: 20px;
  margin-left: -95px;
}
.button {
  background-color: wheat;
  height: 30px;
  width: 70px;
  border: 0.5px solid gray;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
}

.input {
  border: 0.5px solid gray;
  border-radius: 5px;
  width: 220px;
  height: 30px;
}

.container {
  margin-left: 40%;
}
.button1 {
  display: flex;
  margin-left: 60px;
}
